<template>
    <div>
        <v-app>
            <div>
                <v-app-bar dense dark>
                    <v-app-bar-nav-icon></v-app-bar-nav-icon>

                    <v-toolbar-title>Колонизаторы</v-toolbar-title>

                    <v-spacer></v-spacer>
                    <v-menu offset-y>
                        <template v-slot:activator="{ on }">
                            <v-btn text v-on="on">{{ $store.state.user.name }}</v-btn>
                        </template>
                        <v-list>
                            <v-list-item>
                                <router-link to="/auterization">
                                    <v-list-item-title>Войти</v-list-item-title>
                                </router-link>
                            </v-list-item>
                            <v-list-item>
                                <router-link to="/registration">
                                    <v-list-item-title>Регистрация</v-list-item-title>
                                </router-link>
                            </v-list-item>
                        </v-list>
                    </v-menu>
                </v-app-bar>
                <v-container>
                    <router-view></router-view>
                </v-container>
            </div>
        </v-app>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import store from '@/store';
import VueKonva from 'vue-konva';

Vue.use(VueKonva);

export default Vue.extend({
    name: 'App',

    components: {
        //
    },

    data: () => ({
        //
    }),
    store
});
</script>

<style lang="scss">
a {
    color: inherit;
    text-decoration: none;
}
</style>
