<template>
    <div class="container">
        <v-stage ref="stage" :config="configStage">
            <v-layer>
                <v-regular-polygon
                    v-for="(hex, index) in $store.state.gameField.hexes"
                    :key="index"
                    :config="{
                        x: getX(hex.coordinates.radius, hex.coordinates.angle),
                        y: getY(hex.coordinates.radius, hex.coordinates.angle),
                        sides: 6,
                        radius: scale,
                        fill: getFill(hex.resourceType)
                    }"
                ></v-regular-polygon>
            </v-layer>
            <v-layer>
                <v-line
                    v-for="(edge, index) in $store.state.gameField.edges"
                    :key="index"
                    @click="clickEdge(
                        edge.from.coordinates.radius,
                        edge.from.coordinates.angle,
                        edge.to.coordinates.radius,
                        edge.to.coordinates.angle
                        )
                    "
                    :config="{
                        points: [
                        getX(edge.from.coordinates.radius, edge.from.coordinates.angle),
                        getY(edge.from.coordinates.radius, edge.from.coordinates.angle),
                        getX(edge.to.coordinates.radius, edge.to.coordinates.angle),
                        getY(edge.to.coordinates.radius, edge.to.coordinates.angle)
                        ],
                        stroke: 'black'
                    }"
                ></v-line>
            </v-layer>
            <v-layer>
                <v-circle
                    v-for="(vertex, index) in $store.state.gameField.vertices"
                    :key="index"
                    @click="clickVertex(vertex.coordinates.radius, vertex.coordinates.angle)"
                    :config="{
                        x: getX(vertex.coordinates.radius, vertex.coordinates.angle),
                        y: getY(vertex.coordinates.radius, vertex.coordinates.angle),
                        radius: configVertex.radius,
                        fill: configVertex.color
                    }"
                />
            </v-layer>
            <v-layer>
                <v-circle
                    v-for="(hex, index) in $store.state.gameField.hexes"
                    :key="index"
                    :config="{
                        x: getX(hex.coordinates.radius, hex.coordinates.angle),
                        y: getY(hex.coordinates.radius, hex.coordinates.angle),
                        radius: 20,
                        fill: configVertex.color
                    }"
                />
            </v-layer>
            <v-layer>
                <v-text
                    v-for="(hex, index) in $store.state.gameField.hexes"
                    :key="index"
                    :config="{
                        x: getX(hex.coordinates.radius, hex.coordinates.angle) - 20,
                        y: getY(hex.coordinates.radius, hex.coordinates.angle) - 10,
                        text: hex.number,
                        fill: '#222',
                        fontSize: 20,
                        stroke: '#222',
                        width: 40,
                        align: 'center',
                        fontStyle: 'normal'
                    }"
                />
            </v-layer>
        </v-stage>
        <div>
            Радиус вертекса:
            <span class="radius"></span>
        </div>
        <div>
            Угол вертекса:
            <span class="angle"></span>
        </div>
        <br />

        <div>
            Начальный радиус линии:
            <span class="radiusFrom"></span>
        </div>
        <div>
            Начальный угол линии:
            <span class="angleFrom"></span>
        </div>
        <br />

        <div>
            Конечный радиус линии:
            <span class="radiusTo"></span>
        </div>
        <div>
            Конечный угол линии:
            <span class="angleTo"></span>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { fetchWithCredentials } from '../../api';
import { Coordinates } from '@/components/game/Coordinates';
import { Vertex } from './Vertex';
import { Edge } from './Edge';
import { Hex } from './Hex';
import img0 from '@/assets/0.png';

@Component({
    props: {
        id: String
    }
})
export default class GameField extends Vue {
    private scale: number = 70;
    private beginAngle = 270;
    private widthStage = 700;
    private heightStage = 700;
    private configStage = {
        width: this.widthStage,
        height: this.heightStage,
        offsetX: this.widthStage / -2,
        offsetY: this.heightStage / -2
    };
    private configVertex = {
        radius: 15,
        color: 'moccasin'
    };
    private img0: string = img0;

    async mounted() {
        for (let i = 0; i < 6; i++) {
            this.$store.commit('addVertex', new Vertex(1, 60 * i));
            this.$store.commit('addVertex', new Vertex(2, 60 * i));
            this.$store.commit('addVertex', new Vertex(4, 60 * i));
        }

        this.createVertices(Math.sqrt(7), [1, 2, 3]);
        this.createVertices(Math.sqrt(13), [1, 3, 4]);
        this.createVertices(Math.sqrt(19), [2, 3, 5]);

        this.$store.state.gameField.vertices.forEach((vertex1: Vertex) =>
            this.$store.state.gameField.vertices
                .filter(
                    (vertex2: Vertex) => Math.abs(1 - this.distance(vertex1.coordinates, vertex2.coordinates)) < 1e-6
                )
                .forEach((vertex: Vertex) => {
                    if (
                        this.$store.state.gameField.edges.some(
                            (x: Edge) => x.from === vertex1 && x.from === vertex && x.to === vertex1 && x.to === vertex
                        )
                    )
                        return;
                    this.$store.state.gameField.edges.push({
                        from: vertex1,
                        to: vertex
                    });
                })
        );

        const response = await fetchWithCredentials(
            `http://localhost:49685/api/game/GetHexes?gameId=${this.$props.id}`
        );
        const json = await response.json();
        if (response.ok) {
            console.log(json);
            json.forEach((hex: Hex) => {
                this.$store.commit('addHex', new Hex(hex.resourceType, hex.number, hex.coordinates));
            });
        }
    }

    //расчет координат для канваса
    getY = (radius: number, angle: number) => radius * this.scale * Math.cos((angle * Math.PI) / 180) * -1;
    getX = (radius: number, angle: number) => radius * this.scale * Math.sin((angle * Math.PI) / 180) * -1;

    //Создание вертексов
    createVertices(r: number, j: [number, number, number]) {
        for (let i = 0; i < j.length; i++) {
            this.$store.commit(
                'addVertex',
                new Vertex(r, (Math.asin(((Math.sqrt(3) / r) * j[i]) / 2) * 180) / Math.PI)
            );
            this.$store.commit(
                'addVertex',
                new Vertex(r, 360 - (Math.asin(((Math.sqrt(3) / r) * j[i]) / 2) * 180) / Math.PI)
            );
            this.$store.commit(
                'addVertex',
                new Vertex(r, 180 - (Math.asin(((Math.sqrt(3) / r) * j[i]) / 2) * 180) / Math.PI)
            );
            this.$store.commit(
                'addVertex',
                new Vertex(r, 180 + (Math.asin(((Math.sqrt(3) / r) * j[i]) / 2) * 180) / Math.PI)
            );
        }
    }

    getImage(resourceType: number): HTMLImageElement {
        const image = new Image();
        image.src = this.img0;
        return image;
    }

    getFill(resourceType: number | null): String {
        switch (resourceType) {
            case 0:
                return 'green';
            case 1:
                return 'white';
            case 2:
                return 'yellow';
            case 3:
                return 'brown';
            case 4:
                return 'gray';
            case null:
                return 'black';
            default:
                throw new Error('Неожиданный тип ресурса');
        }
    }

    clickVertex(radius: string, angle: string) {
        const r = document.querySelector('.radius');
        const a = document.querySelector('.angle');
        if (r) {
            r.innerHTML = radius;
        }
        if (a) {
            a.innerHTML = angle;
        }
    }

    clickEdge(r1: string, a1: string, r2: string, a2: string) {
        const rFrom = document.querySelector('.radiusFrom');
        const aFrom = document.querySelector('.angleFrom');
        const rTo = document.querySelector('.radiusTo');
        const aTo = document.querySelector('.angleTo');
        if (rFrom) {
            rFrom.innerHTML = r1;
        }
        if (aFrom) {
            aFrom.innerHTML = a1;
        }
        if (rTo) {
            rTo.innerHTML = r2;
        }
        if (aTo) {
            aTo.innerHTML = a2;
        }
    }

    //Расчет дистанции между двумя вертексами
    distance(coordinate1: Coordinates, coordinate2: Coordinates) {
        return Math.sqrt(
            coordinate1.radius * coordinate1.radius +
                coordinate2.radius * coordinate2.radius -
                2 *
                    coordinate1.radius *
                    coordinate2.radius *
                    Math.cos(((coordinate1.angle - coordinate2.angle) * Math.PI) / 180)
        );
    }
}
</script>
