<template>
    <div class="container">
        <h3>Авторизация</h3>
        <v-form ref="form">
            <v-text-field v-model="login" label="Логин" required></v-text-field>

            <v-text-field v-model="password" label="Пароль" required></v-text-field>

            <v-btn color="secondary" class="mr-4">Отмена</v-btn>
            <v-btn color="success" class="mr-4" @click="onClick">Войти</v-btn>
        </v-form>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component
export default class Autorization extends Vue {
    public login: string = '';
    public password: string = '';
    public getlogin: string = '';

    public tokenKey = 'accessToken';

    async onClick() {
        const response = await fetch('http://localhost:49685/api/account/token', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json;charset=utf-8' },
            body: JSON.stringify({
                login: this.login,
                password: this.password
            })
        });
        if (!response.ok) {
            console.log(response.status);
            return;
        }
        const json = await response.json();
        let token = json.access_token;
        //sessionStorage.tokenKey = token;
        localStorage.acceccToken = token;
        localStorage.refreshToken = json.refresh_token;
        console.log(json);
        console.log(json.access_token);
        console.log(json.username);
        this.$store.commit('login', {
            name: json.username,
            accessToken: json.access_token,
            refreshToken: json.refresh_token
        });

        const [headerB64, payloadB64] = token.split('.');
        const headerStr = JSON.parse(atob(headerB64));
        const payloadStr = JSON.parse(atob(payloadB64));
        const lifetime = headerStr.exp;
        console.log(headerStr);
        console.log(payloadStr);
        this.$router.push('/');
    }
}
</script>
