<template>
    <div class="container">
        <h3>Регистрация</h3>
        <v-form ref="form">
            <v-text-field v-model="login" label="Логин" required></v-text-field>

            <v-text-field v-model="password" label="Пароль" required></v-text-field>

            <v-btn color="secondary" class="mr-4">Отмена</v-btn>
            <v-btn color="success" class="mr-4" @click="onClick">Зарегистрироваться</v-btn>
        </v-form>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component
export default class Registration extends Vue {
    public login: string = '';
    public password: string = '';

    async onClick() {
        const response = await fetch('http://localhost:49685/api/user/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify({
                login: this.login,
                password: this.password
            })
        });
        if (!response.ok) {
            console.log(response.status);
            return;
        }
        const json = await response.text();
        console.log(json);
        this.$router.push('/auterization');
    }
}
</script>
