<template>
    <div class="container">
        <h1>Игра</h1>
        <GameField :id="id" />
    </div>
</template>

<script lang="ts">
import GameField from '@/components/game/GameField.vue';

export default {
    name: 'game',
    components: {
        GameField
    },
    props: {
        id: String
    }
};
</script>
