<template>
    <lobby-list></lobby-list>
</template>

<script>
import Vue from 'vue';
import LobbyList from '@/components/lobby/LobbyList.vue';

export default Vue.extend({
    name: 'Home',

    components: {
        LobbyList
    }
});
</script>
