<template>
    <div class="container">
        <h1>Лобби</h1>
        <LobbyItem :id="id" />
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import LobbyItem from '@/components/lobby/LobbyItem.vue';

export default Vue.extend({
    components: {
        LobbyItem
    },
    props: {
        name: String,
        id: String
    }
});
</script>
