<template>
    <lobby-create />
</template>

<script lang="ts">
import LobbyCreate from '@/components/lobby/LobbyCreate.vue';

export default {
    components: {
        LobbyCreate
    }
};
</script>
