<template>
    <div class="container">
        <h1>Список лобби</h1>
        <LobbyList />
    </div>
</template>

<script>
import LobbyList from '@/components/lobby/LobbyList';

export default {
    name: 'lobby-list',
    components: {
        LobbyList
    }
};
</script>
