<template>
    <div class="container">
        <h3>Создание игры</h3>
        <v-form ref="form">
            <v-text-field v-model="name" label="Имя" required></v-text-field>

            <v-btn color="secondary" class="mr-4">Отмена</v-btn>
            <v-btn color="success" class="mr-4" @click="onClick">Создать</v-btn>
        </v-form>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { fetchWithCredentials } from '@/api.ts';

@Component
export default class LobbyCreate extends Vue {
    public name: string = '';

    async onClick() {
        const response = await fetchWithCredentials('http://localhost:49685/api/lobby/create?name=' + this.name, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            }
        });
        if (response.ok) {
            const lobby = await response.json();
            this.$router.push({ name: 'lobby-item', params: { name: this.name, id: lobby.id } });
        }
    }
}
</script>
