<template>
    <div class="lobby-list">
        <v-card class="pa-2">
            <h3 class="pa-2">Список лобби</h3>
            <v-data-table :headers="headers" :items="lobbyListAr" :items-per-page="5" class="elevation-1">
                <template v-slot:item.users="{ item }">
                    <v-list-item>
                        <v-list-item-content v-for="(user, index) in item.users" :key="index">
                            <v-list-item-title>{{ user.name }}</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </template>
                <template v-slot:item.actions="{ item }">
                    <v-btn class="mx-2" dark x-small color="success" @click="addUser(item.id)">Присоединиться</v-btn>
                </template>
            </v-data-table>
            <router-link to="/lobby-create">
                <v-btn
                    class="mx-2"
                    fab
                    dark
                    bottom
                    right
                    absolute
                    color="warning"
                    v-if="$store.getters.isAutorization"
                >
                    <v-icon dark>mdi-plus</v-icon>
                </v-btn>
            </router-link>
        </v-card>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { fetchWithCredentials } from '@/api.ts';
import { HubConnectionBuilder, HubConnection } from '@microsoft/signalr';
import { Lobby } from './Lobby';

@Component
export default class LobbyList extends Vue {
    public hubConnection: HubConnection = new HubConnectionBuilder()
        .withUrl('http://localhost:49685/api/push/lobby')
        .build();
    public headers = [
        {
            text: 'ID',
            value: 'id'
        },
        { text: 'Название игры', value: 'name' },
        { text: 'Список игроков', value: 'users' },
        { text: 'Действия', value: 'actions' }
    ];
    public lobbyListAr: Array<Lobby> = [];

    async addUser(lobbyId: string) {
        const response = await fetchWithCredentials('http://localhost:49685/api/lobby/adduser?lobbyId=' + lobbyId, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json;charset=utf-8' }
        });
        if (response.ok) {
            console.log('присоединился');
            this.$router.push({ name: 'lobby-item', params: { id: lobbyId } });
        }
    }

    async mounted() {
        const response = await fetch('http://localhost:49685/api/lobby', {
            method: 'GET'
        });
        const json: Array<Lobby> = await response.json();
        console.log(json);
        if (response.ok) {
            json.forEach(x => {
                this.lobbyListAr.push(x);
            });
        }
        this.hubConnection.on('Add', (lobby: Lobby) => {
            this.lobbyListAr.push({
                id: lobby.id,
                name: lobby.name,
                users: lobby.users
            });
        });
        this.hubConnection.on('AddUser', lobby => {
            const lobbyGet = this.lobbyListAr.find(l => l.id == lobby.id);
            if (lobbyGet != null) {
                lobbyGet.users.push(lobby.userAdd);
            }
        });
        this.hubConnection.start();
    }
}
</script>
