<template>
    <div class="container">
        <h3>Название: {{ lobby.name }}</h3>
        <h3>Список игроков</h3>
        <v-list>
            <v-list-item-group color="primary">
                <v-list-item v-for="(item, i) in lobby.users" :key="i">
                    <!--<v-list-item-icon>
              <v-icon v-text="item.icon"></v-icon>
                    </v-list-item-icon>-->
                    <v-list-item-content>
                        <v-list-item-title v-text="item.name"></v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list-item-group>
        </v-list>
        <v-btn @click="creategame()">Начать игру</v-btn>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { fetchWithCredentials } from '../../api';
import { Lobby } from './Lobby';

@Component({
    props: {
        name: String,
        id: String
    }
})
export default class LobbyItem extends Vue {
    public lobby = {};

    async mounted() {
        const response = await fetchWithCredentials(`http://localhost:49685/api/lobby/${this.$props.id}`);
        const json: Lobby = await response.json();
        this.lobby = json;
    }

    async creategame() {
        const response = await fetchWithCredentials(`http://localhost:49685/api/lobby/creategame/${this.$props.id}`, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json;charset=utf-8' }
        });
        const json = await response.json();
        if (response.ok) {
            this.$router.push({ name: 'game', params: { id: json } });
        }
    }
}
</script>
